*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#0F172A;
}

nav {
    position: sticky;
    top: 0;
    font-family: 'Lucida Sans','Lucida Sans Regular','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 71px;
    background-color:#1E293B;
    color: white;
}

nav ul li{
    padding: 12px 12px;
    /* color: white; */
}

nav ul li a {
    color: white;
    list-style-type: none;
    font-size: 1.2rem;
    text-decoration: none;
    margin-left: 50px;
}

nav ul li a:hover{
    color: #38BDF8;
}

.brand img {
    width: 40px;
    padding: 0 6px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.about {
    height: 350px;
    width: 600px;
    border: 4px solid white;
    margin-left: 190px;
    margin-top: 30px;
    margin-bottom: 100px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.about p {
    color: white;
    margin: 45px;
    font-size: 1rem;
}

.about h5 {
    color: white;
    margin-left: 380px;
}

/* media query */
@media(max-width:768px){
    nav{
        margin: 0;
        padding: 0;
   }
   nav ul li a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4rem;
   }
   .about{
    margin-top: 80px;
    height: 520px;
    width: 330px;
    margin-left: 48px;
    border: none;
    border: 4px solid white;
   }
   .about p{
    margin-top: 40px;
   }
   .about h5 {
    margin-left: 50px;
    font-size: 1.3rem;
   }
}